/*
Styles for Sedona Project
index.html
sedona-hotels.html
*/

/*
  Fonts
*/

/* pt-sans-regular - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* pt-sans-700 - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

/*
  All html
*/

body {
  margin: 0;
  padding-left: 40px;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  background-color: white;
}

* {
  /* Убрал грязь из  Хрома */
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;

  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  min-width: 100%;
  height: auto;
}

/*
  buttons
*/

.blue-btn, .blue-btn {
  display: inline-block;
}

.brown-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  border: 0;
  color: white;
  background: #766357;
}

.brown-btn:hover {
  background: #604e43;
}

.brown-btn:active {
  color: #928a85;
  background: #503e33;
}

.blue-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  border: 0;
  color: white;
  background: #81b3d2;
}

.blue-btn:hover {
  background: #669ec0;
}

.blue-btn:active {
  color: #94b9d2;

  background: #5496bd;
}

/*
  header
*/

header {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sedona-logo {
  display: block;
  width: 140px;

  z-index: 10;
  margin: 0 auto;
  margin-bottom: -63px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 71px;
  padding-right: 72px;

  font: inherit;
  font-weight: 700;
  color: black;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*margin-left: 71px;*/
  /*margin-right: 72px;*/
}

.nav-menu:nth-child(1) {
  width: 338px;
  /*border: 1px solid red;*/

  list-style-type: none;
}

.nav-menu:nth-child(2) {
  width: 330px;
  /*border: 1px solid red;*/

  list-style-type: none;
}

.nav-item a {
  display: block;

  color: black;
  line-height: 26px;
}

.nav-item--current a {
  color: #766357;
}

.nav-menu a:hover {
  color: #81b3d2;
}

.nav-menu a:active {
  color: #cacaca;
}

.welcome-bg {
  display: block;
  margin: 15px auto;

  width: 1200px;
  height: 510px;

  background: no-repeat url("../img/welcome-bg.jpg");
  background-position-y: -84px;
}

.welcome-bg img {
  width: 1200px;
  /*height: 353px;*/

  margin-top: 76px;
}

.welcome-bg:after {
  background: no-repeat url("../img/white-polygon.svg");
  /*background-position-y: -84px;*/
  border: 2px solid red;
  height: 40px;
}

/*
  footer
*/

footer {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 102px;
}

.sedona-contacts {
  margin-left: 20px;

  font-size: 21px;
  font-weight:700;
  line-height: 31px;
}

.sedona-social {
  padding-right: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 150px;

  list-style: none;
}

.social-item {
  margin-top: 1px;

  display: flex;
  width: 46px;
  height: 48px;
  /*padding-top: 8px;*/
  justify-content: center;
  align-items: center;

  /*background: red;*/
  background: #81b3d2;
}

.social-item img {
  margin-top: 8px;
}

.social-item:hover {
  background: #669ec0;
}

.social-item:hover {
  background: #669ec0;
}

.social-item:active {
  background: #5496bd;
}

.social-item:active img {
  opacity: 0.5;
}

.htmlacademy-logo span {
  display: inline-block;
  margin-right: 3px;

  font-size: 14px;
  line-height: 26px;
  text-decoration: none;

  color: black;
}

.htmlacademy-logo p {
  display: inline-block;
  vertical-align: middle;

  fill: black;

  width: 115px;
  height: 41px;
}

.htmlacademy-logo:hover svg {
  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  fill: #bdbbbc;
}

/*
 index.html
*/

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.site-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: -8px;
}

.sub-header {
  font: inherit;
  line-height: 26px;
  margin-top: 15px;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 49px;
}

.advantage {
  display: flex;
  flex-direction: row;
  align-content: space-between;

  height: 256px;

  background: #81b3d2;
}

.advantage-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}

.advantage-block {
  padding-top: 47px;
}


.advantage-text--white {
  margin-bottom: 22px;
}

.advantages-list--icons {
  margin-top: 162px;
  margin-bottom: 82px;
}

.advantage-header {
  margin-bottom: 23px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  align-content: space-between;

  list-style-type: none;
}

.advantages-list:last-child {
  margin-top: 47px;
}

.advantages-list:last-child .advantage-text {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 22px;
}

.advantage-item {
  width: 300px;
  margin: 0 auto;
}

.advantage-header {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantage-text {
  font: inherit;
  line-height: 21px;
}

.advantage-header--white {
  color: white;
}

.advantage-text--white {
  color: white;
}

.map-question strong {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.map-question {
  margin-bottom: 22px;
}

.hotel-search .brown-btn {
  margin-top: 25px;

  z-index: 4;

  width: 568px;
  height: 86px;
}

.hotel-search {
  display: flex;
  flex-direction: column;

  margin-top: 90px;
}

.search-form {
  align-self: center;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 568px;
  height: 395px;

  background: white;
  box-shadow: 0 5px 5px gray;
}

.search-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 458px;
  height: 205px;

  padding-top: 40px;
}

.search-form input {
  font-weight: 700;
  width: 345px;
  margin-left: auto;

  border: 0;
  background: #f2f2f2;
}

.arrival-date, .departure-date,
.adults-numbers, .children-numbers {
  height: 38px;
  border: 0;
}

#adults-input, #children-input {
  width: 114px;
  margin-left: 0;
}

#children-input {
  margin-left: -20px;
}

.search-form input:hover {
  background: #ebebeb;
}

.search-form input:active {
  background: white;
}

.search-form .search-label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  color: black;
}

.search-form .blue-btn {
  width: 458px;
  height: 58px;

  /*margin-bottom: 10px;*/
  margin-top: 35px;
}

.arrival-date,
.departure-date,
.adults-numbers,
.children-numbers {
  font-size: 14px;
  line-height: 26px;
}

.search-map {
  z-index: 1;
  margin-top: -395px;
}

/*
 sedona-hotels.html
*/

main {
  margin-top: 50px;
}

.hotel-filters {
  height: 217px;
  margin-top: -35px;

  background: no-repeat url("../img/filter-bg.jpg");
}

.hotels-form {
  padding-left: 70px ;
  padding-right: 70px ;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infrastructure-selects {
  margin-right: 110px;
}

.infrastructure-container,
.select-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.cost-select {
  margin-left: auto;
}

.cost-container {
  display: flex;
  flex-direction: row;
}

.sort-container {
  display: flex;
  flex-direction: row;

  padding-top: 30px;
}

.sort-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  /*width: 600px;*/
  /*padding-right: 71px;*/
  padding-left: 71px;
}

.sort-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  list-style: none;
  margin-left: 48px;
}

.sort-types li {
  margin-right: 41px;
}

.sort-types li:nth-child(2) {
  margin-right: 32px;
}

.sort-types li:nth-child(3) {
  margin-right: 35px;
}

.sort-arrows {
  margin-left: auto;

  display: flex;
  flex-direction: row;
}

.sort-arrow {
  list-style: none;
}

.search-header {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  margin-right: 5px;
}

.sort-results .search-label {
  font-size: 21px;
  line-height: 26px;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.search-label {
  font-weight: 700;
}

.sort-types {
  list-style: none;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort--selected {
  color: #81b3d2;
  border-bottom: none;
}

.sort-type:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type:active {
  color: black;
  border-bottom: none;
}

/* Найденные отели */

.filtered-hotels {
  display: flex;
  flex-direction: column;

  margin-top: 26px;
  margin-bottom: 63px;
}

.hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 90px;

  padding: 30px 72px;
  border-bottom: 1px solid #bdbbbc;
  border-top: 1px solid #bdbbbc;
}

.hotel:last-child {
  margin-bottom: -55px;
}

.hotel-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 258px;
  margin-left: 30px;
}

.hotel-type-container {
  margin-top: -10px;
}

.hotel-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-content: space-between;*/
  width: 258px;
}

.hotel-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hotel-btn-container .blue-btn {
  width: 110px;
  height: 27px;
}

.hotel-btn-container .brown-btn {
  width: 142px;
  height: 27px;

  margin-left: 6px;
}

.hotel-name {
  margin-top: -4px;
}

.hotel-type, .hotel-cost, .reit-label, .reit-number {
  font-size: 14px;
  line-height: 21px;
}

.hotel-type, .hotel-cost {
  color: #333333;
}

.hotel-cost {
  width: 142px;
  text-align: left;
}

.stars {
  /*margin-top: 50px;*/
  align-self: flex-end;
  padding: 2px 14px;
  /*margin-right: 14px;*/
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
}

.filtered-hotels .blue-btn, .filtered-hotels .brown-btn {
  font-size: 14px;
  line-height: 21px;
}

.reit-label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.reit-number {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.stars-1, .stars-2, .stars-3, .stars-4, .stars-5 {
  margin-left: auto;

  background: #f2f2f2;
}
