/*
Styles for Sedona Project
index.html
sedona-hotels.html
*/

/*
  Fonts
*/

/* pt-sans-regular - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family:  'PT Sans';
  font-style:  normal;
  font-weight:  400;
  src:  local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* pt-sans-700 - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family:  'PT Sans';
  font-style:  normal;
  font-weight:  700;
  src:  local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

/*
  All html
*/

body {
  font-family:  "PT Sans", Arial, sans-serif;
  font-size:  14px;
  font-weight:  500;
  line-height:  24px;

  margin:  0;
  padding-left:  40px;
  width:  1200px;

  background-color:  #FFF;
}

* {
  margin-block-end:  0;
  margin-block-start:  0;
  padding-block-end:  0;
  padding-block-start:  0;
  padding-inline-end:  0;
  padding-inline-start:  0;
}

a {
  text-decoration:  none;
}

.visually-hidden {
  /*border:  0;*/
  clip:  rect(0 0 0 0);
  height:  1px;
  margin:  -1px;
  overflow:  hidden;
  padding:  0;
  position:  absolute;
  width:  1px;
}

img {
  height:  auto;
  min-width:  100%;
}

/*
  buttons
*/

.blue-btn,.blue-btn {
  display:  inline-block;
}

.brown-btn {
  border: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #FFF;

  background:  #766357;
}

.brown-btn:hover {
  background: #604e43;
}

.brown-btn:active {
  color: #928a85;

  background: #503e33;
}

.blue-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #FFF;

  background: #81b3d2;
  border: 0;
}

.blue-btn:hover {
  background: #669ec0;
}

.blue-btn:active {
  color: #94b9d2;

  background: #5496bd;
}

/*
  header
*/

header {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sedona-logo {
  z-index: 10;

  display: block;
  width: 140px;
  margin: 0 auto -63px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 71px;
  padding-right: 72px;

  font: inherit;
  font-weight: 700;
  color: #000;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu:nth-child(1) {
  width: 338px;

  list-style-type: none;
}

.nav-menu:nth-child(2) {
  width: 330px;

  list-style-type: none;
}

.nav-item a {
  display: block;

  color: #000;
  line-height: 26px;
}

.nav-item--current a {
  color: #766357;
}

.nav-menu a:hover {
  color: #81b3d2;
}

.nav-menu a:active {
  color: #cacaca;
}

.welcome-bg {
  display: block;
  height: 510px;
  margin: 15px auto;
  width: 1200px;

  background: no-repeat url(../img/welcome-bg.jpg);
  background-position-y: -84px;
}

.welcome-bg img {
  margin-top: 76px;
  width: 1200px;
}

/*
  footer
*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  padding: 0 102px;
}

.sedona-contacts {
  margin-left: 20px;

  font-size: 21px;
  font-weight: 700;
  line-height: 31px;
}

.sedona-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 150px;
  padding-right: 50px;

  list-style: none;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin-top: 1px;
  width: 46px;

  background: #81b3d2;
}

.social-item img {
  margin-top: 8px;
}

.social-item:hover {
  background: #669ec0;
}

.social-item:active {
  background: #5496bd;
}

.social-item:active img {
  opacity: 0.5;
}

.htmlacademy-logo span {
  display: inline-block;
  margin-right: 3px;

  font-size: 14px;
  line-height: 26px;
  color: #000;

  text-decoration: none;
}

.htmlacademy-logo p {
  display: inline-block;
  height: 41px;
  width: 115px;

  vertical-align: middle;

  fill: #000;
}

.htmlacademy-logo:hover svg {
  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  fill: #bdbbbc;
}

/*
 index.html
*/

.main-index {
  display: flex;
  flex-direction: column;
  align-content: center;

  text-align: center;
}

.site-header {
  margin-top: -8px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sub-header {
  font: inherit;
  line-height: 26px;

  margin-top: 15px;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 49px;
}

.advantage {
  align-content: space-between;
  background: #81b3d2;
  display: flex;
  flex-direction: row;
  height: 256px;
}

.advantage-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 47px;
  width: 400px;
}

.advantage-text--white {
  margin-bottom: 22px;

  color: #FFF;
}

.advantages-list--icons {
  margin-bottom: 82px;
}

.advantage-header {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 23px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-content: space-between;
}

.advantages-list:last-child {
  margin-top: 47px;
}

.advantages-list:last-child .advantage-text {
  margin-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages-list--icons .advantage-item {
  margin: 0 auto;
  width: 300px;
  padding-top: 162px;
}

.advantages-list--icons .advantage-item:nth-child(1) {
  background: no-repeat url(../img/icon-house.svg);
  background-position: 112px 60px;
  background-size: 75px 72px;
}

.advantages-list--icons .advantage-item:nth-child(2) {
  background: no-repeat url(../img/icon-food.svg);
  background-position: 112px 60px;
  background-size: 75px 72px;
}

.advantages-list--icons .advantage-item:nth-child(3) {
  background: no-repeat url(../img/icon-souvenirs.svg);
  background-position: 112px 60px;
  background-size: 75px 72px;
}

.advantage-text {
  font: inherit;
  line-height: 21px;
}

.advantage-header--white {
  color: #FFF;
}

.map-question strong {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.map-question {
  margin-bottom: 22px;
}

.hotel-search .brown-btn {
  z-index: 4;

  height: 86px;
  margin-top: 25px;
  width: 568px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.search-form {
  z-index: 2;

  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 395px;
  width: 568px;

  background: #FFF;
  box-shadow: 0 5px 5px gray;
}

.search-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 205px;
  padding-top: 40px;
  width: 458px;
}

.search-form input {
  margin-left: auto;
  width: 345px;

  font-weight: 700;

  background: #f2f2f2;
  border: 0;
}

.arrival-date,.departure-date,.adults-numbers,.children-numbers {
  height: 38px;

  font-size: 14px;
  line-height: 26px;

  border: 0;
}

#adults-input,#children-input {
  margin-left: 0;
  width: 114px;
}

#children-input {
  margin-left: -20px;
}

.search-form input:hover {
  background: #ebebeb;
}

.search-form input:active {
  background: #FFF;
}

.search-form .search-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  color: #000;
}

.search-form .blue-btn {
  height: 58px;
  margin-top: 35px;
  width: 458px;
}

.search-map {
  z-index: 1;

  margin-top: -395px;
}

/*
 sedona-hotels.html
*/

.main-sedona-hotels {
  margin-top: 50px;
}

.hotel-filters {
  height: 217px;
  margin-top: -35px;

  background: no-repeat url(../img/filter-bg.jpg);
}

.hotels-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.infrastructure-selects {
  margin-right: 110px;
}

.infrastructure-container,.select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cost-select {
  margin-left: auto;
}

.cost-container {
  display: flex;
  flex-direction: row;
}

.sort-container {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.sort-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 71px;
}

.sort-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 48px;

  list-style: none;
}

.sort-types li {
  margin-right: 41px;
}

.sort-types li:nth-child(2) {
  margin-right: 32px;
}

.sort-types li:nth-child(3) {
  margin-right: 35px;
}

.sort-arrows {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.sort-arrow {
  list-style: none;
}

.search-header {
  margin-right: 5px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort-results .search-label {
  font-size: 21px;
  line-height: 26px;
}

.sort-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.search-label {
  font-weight: 700;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px dotted #81b3d2;
  color: #cacaca;
}

.sort--selected {
  border-bottom: none;
  color: #81b3d2;
}

.sort-type:hover {
  border-bottom: 1px dotted #81b3d2;
  color: #81b3d2;
}

.sort-type:active {
  border-bottom: none;
  color: #000;
}

/* Найденные отели */

.filtered-hotels {
  display: flex;
  flex-direction: column;
  margin-bottom: 63px;
  margin-top: 26px;
}

.hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding: 30px 72px;

  border-bottom: 1px solid #bdbbbc;
  border-top: 1px solid #bdbbbc;
}

.hotel:last-child {
  margin-bottom: -55px;
}

.hotel-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 30px;
  width: 258px;
}

.hotel-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -10px;
  width: 258px;
}

.hotel-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hotel-btn-container .blue-btn {
  height: 27px;
  width: 110px;
}

.hotel-btn-container .brown-btn {
  margin-left: 6px;
  height: 27px;
  width: 142px;
}

.hotel-name {
  margin-top: -4px;

  font-size: 21px;
  line-height: 26px;
}

.hotel-type,.hotel-cost {
  color: #333;
}

.hotel-cost {
  text-align: left;
  width: 142px;
}

.stars {
  align-self: flex-end;
  padding: 2px 14px;
}

.stars-1,
.stars-2,
.stars-3,
.stars-4,
.stars-5 {
  margin-left: auto;

  background: #f2f2f2;
}

.hotel-type,
.hotel-cost,
.reit-label,
.reit-number,
.filtered-hotels .blue-btn,
.filtered-hotels .brown-btn {
  font-size: 14px;
  line-height: 21px;
}

.reit-label,
.reit-number {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;

  color: #666;
}
